@model LibraryMVC.Domain.Entities.Course
@{
    ViewData["Title"] = "MrLibrary";
    Layout = "../../Views/Shared/BookLayout.cshtml";
}


<div class="container" style="max-width:600px ; margin:auto;">
    <h2>Details</h2>

   @if (Model.CourseLink!=null)
    {
        <div class="text-center mb-3">
            <iframe width="877" height="487" src="@Model.CourseLink" title="Internal Pointer Variable 🤣" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>
    }
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="@Model.Skills" class="control-label">Required Skills</label>
        <input readonly asp-for="@Model.Skills" class="form-control" />
        <span asp-validation-for="@Model.Skills" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price" class="control-label">Price</label>
        <input readonly asp-for="@Model.Price" class="form-control" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>

    <div class="form-group">

        <a asp-action="Index" class="mb-4 mt-4 btn btn-outline-primary">Back</a>
    </div>

</div>