@model LibraryMVC.Domain.Entities.Course
@{
    ViewData["Title"] = "MrLibrary";
    Layout = "../../Views/Shared/BookLayout.cshtml";
}


<div class="container" style="max-width:600px ; margin:auto;">
    <h2>Edit Course</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    <form asp-action="Edit" method="post" asp-controller="Course" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="user-card-header">

            <img class="user-avatar" src="@Model.CourseImg" alt="CourseImg" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">CourseName</label>
            <input asp-for=@Model.Name class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Price" class="control-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Duration" class="control-label">Duration</label>
            <input asp-for="@Model.Duration" class="form-control" />
            <span asp-validation-for="@Model.Duration" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Skills" class="control-label">Required Skills</label>
            <input asp-for="@Model.Skills" class="form-control" />
            <span asp-validation-for="@Model.Skills" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Mentor" class="control-label">Mentor</label>
            <input asp-for="@Model.Mentor" class="form-control" />
            <span asp-validation-for="@Model.Mentor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CourseLink" class="control-label">CourseLink</label>
            <input asp-for="@Model.CourseLink" class="form-control" />
            <span asp-validation-for="@Model.CourseLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">CourseImg </label>
            <input id="image" src="@Model.CourseImg" name="ImageFile" accept="image/*" type="file" class="form-control" />

        </div>
        <div class="form-group">
            <button type="submit" style="" class=" mb-4 mt-4 btn btn-primary">Save </button>
            <a asp-action="Delete" class="mb-4 mt-4 btn  btn-danger" asp-route-id="@Model.Id">Delete</a>
            <a asp-action="Index" class="mb-4 mt-4 btn btn-outline-primary">Cancel</a>
        </div>
    </form>
</div>