@{
    ViewData["Title"] = "MrLibrary";
    Layout = "../../Views/Shared/BookLayout.cshtml";

}
@using Library.Web.UI.Models
@model BookListViewModel
@if (TempData["message"] != null)
{

    <div class="alert alert-success">
        @TempData["message"]
    </div>
}
<div class="user-grid">
   
    @foreach (var item in Model.Books)
    {
        <div class="user-card">
            <div class="user-card-header">
                <span class="pro">PRO</span>
                <img src="@item.BookImage" class="card-img-top rounded-circle mx-auto mt-3" alt="Book Image" style="width: 100px; height: 100px; object-fit: cover;">

            </div>
            <div class="user-card-body">
                <h3>@item.Title </h3>
                <p class="speciality">@item.Genre</p>
                <p class="speciality">@item.Price $</p>

            </div>
            <div class="user-card-footer">
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Book" class="btn btn-edit">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-action="AddtoCart" asp-route-id="@item.Id" asp-route-name="Book" asp-controller="Cart" class="btn btn-light">
                     Add to Cart
                </a>
                <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id" class="btn btn-details">
                    <i class="fas fa-info-circle"></i> Details
                </a>
            </div>
        </div>
    }
    
    

</div>
<div class="flex align-items-center w-100  justify-content-center ">
    <list-pager current-page="@Model.CurrentPage" page-count="@Model.PageCount"
                page-size="@Model.PageSize" page-name="@Model.PageName">

    </list-pager>
</div>